In [3]:
import pandas as pd
df=pd.read_csv('q3.csv')
df

       Name Program
0     AMOGH     DSC
1   DHANUJA     MCA
2     SAVIO      AI
3  VAIBHAVI      AI
4   SHUNHAM     MCA
5    PAXSON     DSC

In [4]:
import pandas as pd

df = pd.read_csv('q3.csv')

program_names = {
    'MCA': [],
    'DSC': [],
    'AI': [],
}

for _, row in df.iterrows():
    program = row['Program']
    name = row['Name']
    
    if program in program_names:
        program_names[program].append(name)

for program, names in program_names.items():
    with open(f"{program}.txt", "w") as file:
        for name in names:
            file.write(name + "\n")